<font color='darkred'> Unless otherwise noted, **this notebook will not be reviewed or autograded.**</font> You are welcome to use it for scratchwork, but **only the files listed in the exercises will be checked.**

---

# Exercises

For these exercises, add your functions to the *apputil\.py* file. If you like, you're welcome to adjust the *app\.py* file, but it is not required.

## Notes on Recursion

A [recursive function](https://www.w3schools.com/python/gloss_python_function_recursion.asp) is one which calls itself.

1. When the function is called, your CPU runs through each line of code until the function needs to be called again.
2. At that point, all variables are saved in memory, and the function runs through each line of code again until the function is called (again, but with a different passed argument), and so on.
3. Eventually, this process will stop at the "bottom of the **stack**", where the function doesn't get a chance to call itself again (likely because of some condition un/met by the latest passed argument).
4. Then, your CPU will work its way back up the stack to the final result. For example, take a look at [this visual example](https://realpython.com/python-recursion/#calculate-factorial) of calculating 4!.

When you write these functions, keep two things in mind:

- You will need a built-in stopping point (i.e., the "bottom"), where your function returns some result before it calls itself.
- **Don't think too hard about this.** Recursion can be perplexing to conceptualize when writing the code. So, when you call the function inside the function, think about it as a magical "hidden" function that has already done what you want it to do.
- [Python Tutor](https://pythontutor.com/) ([editor](https://pythontutor.com/visualize.html#mode=edit)) can be a helpful resource for this exercise!

## Exercise 1

The Fibonacci Series starts with 0 and 1. Each of the following numbers are the sum of the previous two numbers in the series:

`0 1 1 2 3 5 8 13 21 34 ...`

So, `fib(9) = 34`.

Write a recursive function (`fib`) that, given `n`, will return the `n`th number of the Fibonacci Series.

*Test your function using Google or any other tool that can calculate the Fibonacci Series.*

In [11]:
def fib(n):
    "Return the nth Fibonacci number."
    if n <= 0:
        return "Input should be a positive integer."
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        a, b = 1, 1 # Fixed the start of the index to provide correct fibonacci sequence
        for _ in range(2, n):
            a, b = b, a + b
        return b
# A simple function to compute the nth Fibonacci number

print(fib(9)) # Expected output: 34

34


## Exercise 2

Write a (single) recursive function, `to_binary()`, that [converts](https://en.wikipedia.org/wiki/Binary_number#Conversion_to_and_from_other_numeral_systems) an integer into its [binary](https://en.wikipedia.org/wiki/Binary_number) representation. So, for example:

```python
to_binary(2)   -->  10
to_binary(12)  -->  1100
```

*Note: you can test your function with the built in `bin()` function.*

In [13]:
# A function to convert a positive integer to its binary representation
def to_binary(n):
    "Convert an integer to its binary representation as a string."
    if n < 0:
        return "Input should be a non-negative integer."
    elif n == 0:
        return "0"
    bits = []
    # Convert to binary
    while n:
        bits.append(str(n % 2))
        n //= 2
    return ''.join(reversed(bits))

print(to_binary(2))  # Example usage
print(to_binary(12))  # Example usage
print(to_binary(16))  # Example usage

10
1100
10000

## Exercise 3 

Use the raw Bellevue Almshouse Dataset (`df_bellevue`) extracted at the top of the lab (i.e., with `pd.read_csv ...`).

**Write a function for each of the following tasks. Name these functions `task_i()`** (i.e., without any input arguments).

1. Return a list of all column names, *sorted* such that the first column has the *least* missing values, and the last column has the *most* missing values (use the raw column names).
   - *Note: there is an issue with the `gender` column you'll need to remedy first ...*
2. Return a **data frame** with two columns:
   - the year (for each year in the data), `year`
   - the total number of entries (immigrant admissions) for each year, `total_admissions`
3. Return a **series** with:
   - Index: gender (for each gender in the data)
   - Values: the average age for the indexed gender.
4. Return a list of the 5 most common professions *in order of prevalence* (so, the most common is first).

For each of these, if there are messy data issues, use the `print` statement to explain.

In [ ]:
import pandas as pd

url = 'https://github.com/melaniewalsh/Intro-Cultural-Analytics/raw/master/book/data/bellevue_almshouse_modified.csv'

df_bellevue = pd.read_csv(url)
print (df_bellevue.head(40))

# list all values in the gender column
print (df_bellevue.gender.unique())

def task_1(): 
    #Return a list of all column names, *sorted* such that the first column has the *least* missing values, and the last column has the *most* missing values (use the raw column names)
    # *Note: there is an issue with the `gender` column you'll need to remedy first ...*
    missing_counts = df_bellevue.isnull().sum()
    print (missing_counts)
    sorted_columns = missing_counts.sort_values().index.tolist()
    print (sorted_columns)
    return sorted_columns
print (task_1())


print ("exercise 2 starting")
def task_2(): 
    #Return a **data frame** with two columns:
   #- the year (for each year in the data), `year`
   #- the total number of entries (immigrant admissions) for each year, `total_admissions`
    df_bellevue['year'] = pd.to_datetime(df_bellevue['date_in']).dt.year
    admissions_per_year = df_bellevue.groupby('year').size().reset_index(name='total_admissions')
    
    return admissions_per_year
print (task_2())



print ("exercise 3 starting")
def task_3(): 
    #Return a **series** with:
    # - Index: gender (for each gender in the data)
    # - Values: the average age for the indexed gender.
    
    pandas_series = df_bellevue.groupby('gender')['age'].mean()
    return pandas_series
print (task_3())


print ("exercise 4 starting")
def task_4(): 
    #Return a list of the 5 most common professions *in order of prevalence* (so, the most common is first).
    top_5_profession = df_bellevue['profession'].value_counts().head(5).index.tolist()
    return top_5_profession
print (task_4())

       date_in first_name  last_name    age          disease profession  \
0   1847-04-17       Mary  Gallagher  28.00  recent emigrant    married
1   1847-04-08       John  Sanin (?)  19.00  recent emigrant    laborer
2   1847-04-17    Anthony      Clark  60.00  recent emigrant    laborer
3   1847-04-08   Lawrence     Feeney  32.00  recent emigrant    laborer
4   1847-04-13      Henry      Joyce  21.00  recent emigrant        NaN
5   1847-04-14    Bridget       Hart  20.00  recent emigrant   spinster
6   1847-04-14       Mary      Green  40.00  recent emigrant   spinster
7   1847-04-19     Daniel     Loftus  27.00      destitution    laborer
8   1847-04-10      James        Day  35.00  recent emigrant    laborer
9   1847-04-10   Margaret    Farrell  30.00  recent emigrant      widow
10  1847-04-10    Bridget        Day  30.00  recent emigrant    married
11  1847-04-10    Anthony        Day   0.50  recent emigrant        NaN
12  1847-04-07      James    Collins  22.00  recent emigrant    laborer
13  1847-04-07     Thomas    Collins  21.00  recent emigrant    laborer
14  1847-04-07        Pat     Whalen  25.00  recent emigrant    laborer
15  1847-04-17        Dan     Delany  10.00           typhus        NaN
16  1847-04-09  Catherine    O'Harra  23.00  recent emigrant    married
17  1847-04-09     Damiel    O'Harra  25.00  recent emigrant    laborer
18  1847-04-12   Margaret    Delaney  26.00  recent emigrant    married
19  1847-04-12    Michael     Delany   3.00  recent emigrant        NaN
20  1847-04-13    William    Tierney  30.00  recent emigrant    laborer
21  1847-04-09    Michael    Kennedy  23.00  recent emigrant    laborer
22  1847-04-17  Catharine       Lyon  20.00  recent emigrant   spinster
23  1847-04-09     Joseph      Ricky  13.00  recent emigrant        NaN
24  1847-04-15  Catherine     Mathew  40.00  recent emigrant    married
25  1847-04-14    Rosanna      Smith  23.00  recent emigrant   spinster
26  1847-04-06      Peter      Boyle  20.00  recent emigrant    laborer
27  1847-04-05  Catherine     Cullen  18.00  recent emigrant   spinster
28  1847-04-12     Edward     Murray  60.00  recent emigrant  shoemaker
29  1847-04-17       John   Sheridan  21.00  recent emigrant    painter
30  1847-04-15      Biddy    Golohan  30.00  recent emigrant   spinster
31  1847-04-06    Michael    Cormick   6.00  recent emigrant        NaN
32  1847-04-06      Alice    Cormick  35.00  recent emigrant    married
33  1847-04-06    Michael    Cormick   0.25  recent emigrant    laborer
34  1847-04-06      Julia    Cormick  30.00  recent emigrant        NaN
35  1847-04-06    Patrick    Cormick   4.00  recent emigrant        NaN
36  1847-04-12      James      Quinn  25.00  recent emigrant    laborer
37  1847-04-12       Mary   Monholan  20.00  recent emigrant   spinster
38  1847-04-16     Thomas     Fannan   4.00  recent emigrant        NaN
39  1847-04-12   Marcella   Marshall  16.00  recent emigrant        NaN

   gender                    children
0       w         Child Alana 10 days
1       m              Catherine 2 mo
2       m  Charles Riley afed 10 days
3       m                       Child
4       m                  Child 1 mo
5       w                       Child
6       w          And child 2 months
7       m                         NaN
8       m                         NaN
9       w                         NaN
10      w                         NaN
11      m                         NaN
12      m                         NaN
13      m                         NaN
14      m                         NaN
15      m                         NaN
16      w                         NaN
17      m                         NaN
18      w                         NaN
19      m                         NaN
20      m                         NaN
21      m                         NaN
22      w                         NaN
23      m                         NaN
24      w                         NaN
25      w                         NaN
26      m                         NaN
27      w                         NaN
28      m                         NaN
29      m                         NaN
30      w                         NaN
31      m                         NaN
32      w                         NaN
33      m                         NaN
34      w                         NaN
35      m                         NaN
36      m                         NaN
37      w                         NaN
38      m                         NaN
39      w                         NaN
['w' 'm' '?' 'h' 'g']
date_in          0
first_name       4
last_name        0
age             50
disease       3087
profession    1019
gender           0
children      9547
dtype: int64
['date_in', 'last_name', 'gender', 'first_name', 'age', 'profession', 'disease', 'children']
['date_in', 'last_name', 'gender', 'first_name', 'age', 'profession', 'disease', 'children']
exercise 2 starting
   year  total_admissions
0  1846              3073
1  1847              6511
exercise 3 starting
gender
?          NaN
g    59.000000
h    56.000000
m    31.813433
w    28.725162
Name: age, dtype: float64
exercise 4 starting
['laborer', 'married', 'spinster', 'widow', 'shoemaker']